{% extends "base.html" %}

<!--
    Sample for the django-template-boilerplate project
    
    Copy the contents of this file to create your individual site-templates
-->

<!-- Page Title -->
{% block title %}
{% endblock %}


<!-- Page Specific Metadata -->
{% block meta %}
{% endblock %}


<!-- Page Specific CSS -->
<style>
{% block extracss %}
{% endblock %}
</style>

<!-- Additional <head> Elements -->
{% block head %}
{% endblock %}


<!-- Additional Scripts to be included -->
{% block scripts %}
{% endblock %}


<!-- document.ready() -->
<script>
{% block ready %}
{% endblock %}
</script>


<!-- Additional in-line javascript -->
<script>
{% block script %}
{% endblock %}
</script>


<!-- The main content of your page -->
{% block content %}

{% endblock %}


